# ======================
# === OAUTH2 CONFIG  ===
# ======================
GOOGLE_CLIENT_ID=1037870342905-b37d3kenk6qu0j67d1pmt6b7gufi9rht.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# ======================
# === FRONTEND CONFIG ===
# ======================
FRONTEND_URL=http://localhost:3000

# ======================
# === JWT CONFIG     ===
# ======================
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# ======================
# === EMAIL CONFIG   ===
# ======================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# ======================
# === ADMIN CONFIG   ===
# ======================
ADMIN_EMAIL=admin@diravenir.com

# ======================
# === APP CONFIG     ===
# ======================
SPRING_PROFILES_ACTIVE=dev 